#image
{
    max-height: 350px;
    max-width: 650px;
    align-items: center;
    
    margin: auto;
}
#userName
{
    font-weight: bold;
    margin-bottom: -40;
    font-size:x-large;
    border-bottom: solid 1px;
}
#post
{
    margin: auto;
    background-color: #f0d5d5;
    width: 900px;
    border-bottom: solid 3px;
    margin-top: 10px;
    text-align: center;
}
#rating_submit
{
    margin-bottom: 10px;
    height: 30px;
    width: 80px;
    border: solid 1px;
    border-radius: 20%;
}



#feed_body
{
    text-align: center;
}